{
  "presets": ["node6"],
  "plugins": ["add-module-exports"],
  "env": {
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack.config.node.js", "verbose": false }]
      ]
    }
  }
}
